:root { --outline: 0; } /* Outline Mode */

* { box-sizing: border-box; outline: calc(var(--outline) * 1px) dotted gold; } 

body {
  margin: 0; 
  padding: 0; 
  font-family: monospace;
  color:       #CCC; 
  font-size:   1.51911em; /* Exactly 30px */
  line-height: 1.51911em;
  background-color: #333;
}

p  { margin: 0 auto; padding: 0; width: max-content; }

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

svg { width: 100%; }

.svgen { 
  width: 100%;
  display: inline-block;
  line-height: 0;  /* Removes unwanted padding */
  color: black;  /* used by SVG bounding box */
  overflow: hidden;
}